<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.db.mysql.mapper.AddressMapper">

    <resultMap id="addressResultMap" type="com.solvd.model.Address">
        <id property="id" column="id"/>
        <result property="houseNumber" column="house_number"/>
        <result property="stateName" column="state"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="landmarkName" column="landmark_name"/>
        <association property="zipCode" column="zip_code_id" select="com.solvd.db.mysql.mapper.ZipCodeMapper.getZipCodeById"/>
        <association property="city" column="city_id" select="com.solvd.db.mysql.mapper.CityMapper.getCityById"/>
        <association property="street" column="street_id" select="com.solvd.db.mysql.mapper.StreetMapper.getStreetById"/>
    </resultMap>

    <insert id="createAddress" parameterType="com.solvd.model.Address">
        insert into addresses (house_number, street_id, city_id, state, zip_code_id, longitude, latitude, landmark_name)
        values (#{houseNumber}, #{street.id}, #{city.id}, #{stateName}, #{zipCode.id}, #{longitude}, #{latitude}, #{landmarkName})
    </insert>

    <select id="getAddressById" resultMap="addressResultMap" parameterType="long">
        select a.id, a.house_number, a.street_id, s.name as street_name, a.city_id,
        a.state, a.zip_code_id, a.longitude, a.latitude, a.landmark_name
        from addresses a
        join streets s on a.street_id = s.id
        where a.id = #{id} and a.frequency is null
    </select>

    <select id="getAddressByName" resultMap="addressResultMap">
        select a.id, a.house_number, a.street_id, s.name as street_name, a.city_id,
        a.state, a.zip_code_id, a.longitude, a.latitude, a.landmark_name
        from addresses a
        join streets s on a.street_id = s.id
        where a.landmark_name = #{landmarkName} and a.frequency is null
    </select>

    <select id="getAllAddresses" resultMap="addressResultMap">
        select a.id, a.house_number, a.street_id, s.name as street_name, a.city_id,
        a.state, a.zip_code_id, a.longitude, a.latitude, a.landmark_name
        from addresses a
        join streets s on a.street_id = s.id
        where a.frequency is null
    </select>

</mapper>