<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.db.mysql.mapper.RoadMapper">

    <resultMap id="roadResultMap" type="com.solvd.model.Road">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="speedLimit" column="speed_limit" />
        <association property="startAddress" column="start_address_id" select="com.solvd.db.mysql.mapper.AddressMapper.getAddressById"/>
        <association property="endAddress" column="end_address_id" select="com.solvd.db.mysql.mapper.AddressMapper.getAddressById"/>
    </resultMap>

    <resultMap id="busRoadResultMap" type="com.solvd.model.Road">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="speedLimit" column="speed_limit" />
        <association property="busStopStartAddress" column="start_address_id" select="com.solvd.db.mysql.mapper.BusStopMapper.getBusStopById"/>
        <association property="endAddress" column="end_address_id" select="com.solvd.db.mysql.mapper.AddressMapper.getAddressById"/>
    </resultMap>

    <select id="getRoadById" parameterType="long" resultMap="roadResultMap">
        select r.id, r.name, r.speed_limit, a1.id as start_address_id, a2.id as end_address_id
        from roads r
        inner join addresses a1 on r.start_address_id = a1.id
        inner join addresses a2 on r.end_address_id = a2.id
        where r.id = #{id}
    </select>

    <select id="getAllRoadsForAddresses" resultMap="roadResultMap">
        select r.id, r.name, r.speed_limit, a1.id as start_address_id, a2.id as end_address_id
        from roads r
        inner join addresses a1 on r.start_address_id = a1.id
        inner join addresses a2 on r.end_address_id = a2.id
        where a1.frequency is null
    </select>

    <select id="getAllRoadsForBusStops" resultMap="busRoadResultMap">
        select r.id, r.name, r.speed_limit, a1.id as start_address_id, a2.id as end_address_id
        from roads r
        inner join addresses a1 on r.start_address_id = a1.id
        inner join addresses a2 on r.end_address_id = a2.id
        where a1.frequency is not null
    </select>

    <insert id="createRoad" parameterType="com.solvd.model.Road">
        insert into roads (name, start_address_id, end_address_id, speed_limit)
        values (#{name}, #{startAddress.id}, #{endAddress.id}, #{speedLimit})
    </insert>

    <update id="updateRoad" parameterType="com.solvd.model.Road">
        update roads
        set name = #{name}, start_address_id = #{startAddress.id}, end_address_id = #{endAddress.id}, speed_limit = #{speedLimit}
        where id = #{id}
    </update>

    <delete id="deleteRoad" parameterType="long">
        delete from roads where id = #{id}
    </delete>

</mapper>